<div id="fondo">
    <div id="espacios">
        <img src="assets/images/logoLAG.png" alt="logo">
        <div id="enlaces">
            <a routerLink="/Principal">Inicio</a>
            <a routerLink="/Experiencia">Experiencia Laboral</a>
            <a routerLink="/Portafolio">Portafolio</a>
            <a routerLink="/Blog">Blog</a>



        </div>
        <div id="separacionBoton">
            <button><a id="letraBoton" routerLink="/Contacto">Contacto</a></button>
            
            <div id="botones">
                <button id="botonIdioma" (mouseenter)="toggleElemento()" (mouseleave)="toggleElemento()">Idioma</button>

                @if (menuDesplegable()){
                <div id="menu" (mouseenter)="toggleElemento()" (mouseleave)="toggleElemento()">
                    <p>Español</p>
                    <p>Inglés</p>
                </div>
                }
            </div>
        </div>
    </div>
</div>