<div id="fondo">
    <div id="espacios">
        <img src="assets/images/logoLAG.png" alt="logo">
        <div id="enlaces">
            <a routerLink="/Principal">Inicio</a>
            <a routerLink="/Experiencia">Experiencia Laboral</a>
            <a routerLink="/Portafolio">Portafolio</a>
            <a routerLink="/Blog">Blog</a>



        </div>
        <div id="separacionBoton">
            <button><a id="letraBoton" routerLink="/Contacto">Contacto</a></button>
            <button id="botonIdioma" (click)="menuDesplegable()">Idioma</button>

            @if (menuDesplegable()){
                <p>Español</p>
                <p>Inglés</p>
            }
        </div>
    </div>
</div>