<footer id="fondo">
    <div id="ubicacion">
        <img id="img1" src="https://i.postimg.cc/tgxJqC5M/logoLAG.png" alt="">
        <div id="texto">
            <h2>{{ 'footer' | translate }}</h2>
            <div id="correoTel1">
                <img id="img2" src="https://i.postimg.cc/NFzv2RG7/correo.png" alt="">
                <p>lauraguirregarcia@outlook.com</p>
            </div>
            <div id="correoTel2">
                <img id="img3" src="https://i.postimg.cc/cLfP0p3c/whatsapp.png" alt="">
                <p>+57 314 546 3974</p>
            </div>
        </div>
    </div>
</footer>