<footer id="fondo">
    <div id="ubicacion">
        <img id="img1" src="assets/images/logoLAG.png" alt="">
        <div id="texto">
            <h2>Contacto</h2>
            <div id="correoTel1">
                <img id="img2" src="assets/images/correo.png" alt="">
                <p>lauraguirregarcia@outlook.com</p>
            </div>
            <div id="correoTel2">
                <img id="img3" src="assets/images/whatsapp.png" alt="">
                <p>+57 314 546 3974</p>
            </div>
        </div>
    </div>
</footer>